@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* *{
    outline: 1px solid red;
} */

*{
    overflow: hidden;
}


body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: #333;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#container{
    display: flex;
    text-align: center;
    width: 1000px;
    height: 200px;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

#word{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    color: #9f9999;
    font-size: 2rem;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;
    padding: 25px;
}

#word:hover{
    box-shadow: inset 0px 0px 2px 0px;
}

#short-scripture{
    display: none;
    box-shadow: 0px 0px 2px 1px;
    border: none;
    font-family: monospace;
    font-size: 12px;
    position: fixed;
    background-color: #a3a3a3ac;
    padding: 0px 15px;
    border-radius: 5px;
    max-width: 370px;
    max-height: 200px;
    top: 10px;
    transition: 200ms ease;
    animation: slide 1s ease-in-out;
}

#sideMenu{
    display: grid;
    position: absolute;
    max-width: fit-content;
    top: 35%;
    right: 1%;
}

#sideMenu span{
    border-top: 1px solid;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #9f9999;
    border-color:#bbb6b63c;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

#sideMenu span:hover{
    background-color: rgb(82, 82, 82);
}

#layouts{
    border-bottom: 1px solid;
}

a{
    text-decoration: none;
    color: #9f9999;
}

#keyboardContainer{
    position: relative;
    width: fit-content;
    display: inline-block;
    padding: 8px;
    border-radius: 10px;
    background-color: #5a5a5a6a;
}

.row1 div{
    width: 30px;
    height: 30px;
}

#BackspaceKey{
    width: 70px;
}

.row2 div{
    width: 30px;
    height: 30px;
}

#TabKey{
    width: 50px !important;
}
#forwardSlashKey{
    width: 50px !important;
}

.row3 div{
    width: 30px;
    height: 30px;
}

#CapslockKey{
    width: 60px !important;
}

#EnterKey{
    width: 72px !important;
}

.row4 div{
    width: 30px;
    height: 30px;
}

#shift1Key{
    width: 75px !important;
}

#shift2Key{
    width: 89px !important;
}

.row5 div{
    width: 50px;
    height: 30px;
}
#spaceKey{
    width: 278px !important;
}

#keyboardContainer div{
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#keyboardContainer div div{
    margin: 1px;
    background-color: #617a58;
    color: white;
}

#glowing-circle{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(0, 149, 255);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    z-index: 10;
    animation: grow-shrink 0.5s alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
    transition: 300ms ease-in-out;
}

#skip-button, button{
    font-family: monospace;
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
    background-color: #808080;
}

#skip-button:hover, button:hover{
    background-color: #6f6f6f;
}

#skip-button:hover, button:active{
    background-color: #434343;
}

#ask-segment{
    display: none;
    flex-direction: column;
    gap: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
    color: #9f9999;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;
    padding: 25px;
    margin-top: -170px;
    margin-bottom: 40px;
}

@media(max-width: 1000px){

    #container{
        width: 700px;
    }

    #sideMenu{
        display: none;
    }
}
@media(max-width: 700px){

    #container{
        width: 500px;
    }

    #word{
        font-size: 1.5rem;
    }
}


@media(max-width: 500px){

    #container{
        width: 370px;
    }

    #word{
        font-size: 1.5rem;
    }

    #keyboardContainer div{
        font-size: 7px;
    }

    #glowing-circle{
        width: 12px;
        height: 12px;
    }

    .row1 div{
        width: 20px;
        height: 20px;
    }

    #BackspaceKey{
        width: 60px;
    }

    .row2 div{
        width: 20px;
        height: 20px;
    }

    #TabKey{
        width: 40px !important;
    }
    #forwardSlashKey{
        width: 40px !important;
    }

    .row3 div{
        width: 20px;
        height: 20px;
    }

    #CapslockKey{
        width: 40px !important;
    }

    #EnterKey{
        width: 62px !important;
    }

    .row4 div{
        width: 20px;
        height: 20px;
    }

    #shift1Key{
        width: 55px !important;
    }

    #shift2Key{
        width: 69px !important;
    }

    .row5 div{
        width: 40px;
        height: 20px;
    }
    #spaceKey{
        width: 180px !important;
    }

    #ctr1Key{
        width: 38px;
    }

}

@keyframes grow-shrink{
    from{
        scale: 1;
    }to{
        scale: 2;
    }
}

@keyframes slide {
    from{
        top: -50%;
    }to{
        top: 5px;
    }
}